html, head, body, h1, p{
    padding:0;
    margin:0;
}
h1{
    display:flex;
    justify-content:flex-start;
    font-size:24px;
    margin-left:75px;
    color:white;
    top:20px;
}
.nav{
    display:flex;
    justify-content:flex-end;
    margin-right:75px;
    width:100%
}
.nav p{
    font-size:18px;
    width:40px;
    padding: 0px 20px;
    color:white;
}
.navbar{
    display:flex;
    padding-top:50px;
    width:100%;
    border-bottom:solid 2px white;
}
.fresh{
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("green-vegetables-on-brown-wooden-chopping-board-3952047.jpg");
    padding-bottom:200px;   
    padding-top:0px;
    margin-top:0px; 
}
.title{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
    flex-direction:column;
}
.title p{
   font-size:100px;
    color:white;
    border-bottom:solid 2px white;
    padding:0px 50px 5px 50px;
    font-family: 'Balsamiq Sans', cursive;
}
.slogan{
    display:flex;
    justify-content:center;
    align-items:center;
}
.slogan p{
    font-size:60px;
    color:white;
    border-bottom:none;
    font-family: 'Amatic SC', cursive;

}
.bread{
    display:flex;
    background-color:black;
    
}
body{
    
    margin:0;
    padding:0;
}
.bread h2{
    color:white;
    font-size:32px;
    font-family:sans-serif;
    margin-left:320px;
    width:4000px;
    margin-top:100px;
}
.bread p{
    color:white;
    min-width:500px;
    position:relative;
    top:200px;
    right:500px;
    font-size:22px;
    
}


.pineapple{
    display:flex;
    background-color:#33322f;
    width:100%;
    justify-content:flex-end;

}

.pineapple h2{
    color:white;
    margin-left:270px;
    margin-top:100px;
    width:2000px;
    font-size:32px;
    font-family:sans-serif;
}
.pineapple p{
    color:white;
    min-width:500px;
    position:relative;
    top:200px;
    right:550px;
    font-size:22px;
    
}

.pasta{
    display:flex;
    background-color:#2e2c29;
    
}

.pasta h2{
    color:white;
    font-size:32px;
    font-family:sans-serif;
    margin-left:320px;
    width:2000px;
    margin-top:100px;
}
.pasta p{
    color:white;
    min-width:500px;
    position:relative;
    top:200px;
    right:580px;
    font-size:22px;
    height:200px;
    
}